@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DotGothic16&family=Hina+Mincho&family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Potta+One&family=Rampart+One&family=RocknRoll+One&family=Slackside+One&family=Yuji+Syuku&family=Zen+Antique&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color:#064c74;
}

/* ーーーTOPーーー */
/* Note: Untuk setiap bagian disuatu bagian, pastiin mereka ada di dalam division yang sama di HTML. make the bg
position as relative and the rest in the division as absolute. So far that's the only way to make them able to stack.
Dont forget the Z-index */
#top {
    z-index: 0;
    background-image: url(pc_assets/top/bg.png);
    margin: auto;
    margin-top: -8px;
    width: 990px;
    height: 602px;
    position: relative;
}
.swipertop {
    z-index: 1;
    width: 100%
}
.swiper-slidetopbg img{
    z-index: 1;
    opacity: 42%;
    width: 990px;
    height: 602px;
}
#topnavi {
    z-index: 4;
    margin: auto;
    position: absolute;
}
#navilist {
    z-index: 5;
    margin-top: 0%;
    margin: 0px 80px;
    position: absolute;
    font-family: "Yuji Syuku", serif;
    font-size: 18px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
li {
    color: #064c74;
    margin-left: 0px;
    padding: 20px;
    display: inline;
}
li a {
    text-decoration: none;
    transition: color 0.5s;
}
li a:visited {
    color: #064c74;
}
li a:hover {
    color:rgb(75, 194, 218);
}


/* Gallery */
#topgallery {
    z-index: 4;
    position: absolute;
}
.modal1 {
    width: 270px;
    height: 200px;
    margin-top: 110px;
    margin-left: 440px;
    border: 6px solid white;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.modal2 {
    width: 180px;
    height: 140px;
    margin-top: -400px;
    margin-left: 740px;
    border: 6px solid white;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.modal3 {
    width: 240px;
    height: 180px;
    margin-top: 15px;
    margin-left: 600px;
    margin-right: 100px;
    border: 6px solid white;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
#topgallery :hover{
    transform: scale(1.1);
    
}
/* Title */
#toptitle {
    z-index: 4;
    margin-top: 130px;
    margin-left: 0px;
    position: absolute;
}
#toptitlebottom {
    z-index: 4;
    margin-top: 455px;
    position: absolute;
}


/* Java script */



/* 
.
.
ーーー02ーーー */
#segment02 {
    z-index: -4;
    background-image: url(pc_assets/02/sandbg.png);
    margin: auto;
    margin-top: 20px;
    width: 990px;
    height: 1232px;
    position: relative;
}

/* Waves */
.modal4 {
    z-index: -3;
    background-image: url(pc_assets/02/wave1.png);
    width: 990px;
    height: 940px;
    margin-top: -50px;
    position: absolute;
    transition: margin-top 1s, transform 1s;
}
.modal5 {
    z-index: -3;
    background-image: url(pc_assets/02/wave2.png);
    width: 990px;
    height: 1354px;
    margin-top: -700px;
    position: absolute;
    transition: margin-top 1s, transform 1s;
}
.modal6 {
    z-index: -3;
    background-image: url(pc_assets/02/extrawave.png);
    width: 990px;
    height: 392px;
    margin-top: -20px;
    position: absolute;
    transition: margin-top 1s, transform 1s;
}
/* Pakai hover untuk waves tadi belum bisa entah kenapa, nanti bisa dicoba lagi disini
pakai hover entah di masing2 class atau di idnya aja */

#title02 {
    position: absolute;
}
#title02png {
    z-index: -3;
    margin-top:100px;
    margin-left: 20px;
}
#topcloud02 {
    z-index: -2;
    margin-top: -170px;
    margin-left: 715px;
}

#textbox02 {
    z-index: -2;
    margin-top: 320px;
    margin-left: 50px;
}

/* SWIPER */ 
#swiper02wrapper {
    z-index: -2;
    margin-top: -350px;
    margin-left: 465px;
}
.swipergallery02-parallax {
    width: 440px;
    height: 320px;
    align-content: center;
}

.gallery0201-04 img{
    width: 440px;
    height: 350px;
    border: 6px solid white;
}

/* text */
.gallerytext02 {
    color: #064c74;
    font-family: "Yuji Syuku", serif;
    margin-left: -865px;
}
#gallerytext0201 {
    text-align: center;
    font-size: 20px;
    margin-top: -160px;
    line-height: 1.2;
}
#gallerytext0202 {
    text-align: center;
    font-size: 20px;
    margin-top: -660px;
    line-height: 1.2;
    display: none;
}
#gallerytext0203 {
    text-align: center;
    font-size: 20px;
    margin-top: -960px;
    line-height: 1.2;
    display: none;
}
#gallerytext0204 {
    text-align: center;
    font-size: 20px;
    margin-top: -1280px;
    line-height: 1.2;
    display: none;
}
#gallerytext0204note{
    text-align: left;
    font-size: 15px;
    margin-top: 55px;
    margin-left: 470px;
    line-height: 1.2;
    display: none;
}

.swiper-prevbutton02 img{
    transform: scaleX(-1);

}

#swiper02 .swiper-nextbutton02 svg,
#swiper02 .swiper-prevbutton02 svg{
    display: none;
}

/* YOUYAKU BUTTON */
#youyaku02box {
    display: none;
}



/* 
.
.
ーーー03ーーー */
#segment03 {
    z-index: -7;
    background-image: url(pc_assets/03/bg.png);
    margin: auto;
    margin-top: -500px;
    width: 990px;
    height: 1602px;
    position: relative;
}



/* 
.
.
ーーー04ーーー */
#segment04 {
    z-index: -12;
    background-image: url(pc_assets/04/bg.png);
    margin: auto;
    margin-top: -350px;
    width: 990px;
    height: 1773px;
    position: relative;
}



/* 
.
.
ーーー05ーーー */
#segment05 {
    z-index: -20;
    background-image: url(pc_assets/05/bg.png);
    margin: auto;
    margin-top: -150px;
    width: 990px;
    height: 1943px;
    position: relative;
}



/* 
.
.
ーーー05ーーー */
#segment06 {
    z-index: -28;
    background-image: url(pc_assets/06/bg.png);
    margin: auto;
    margin-top: 0px;
    width: 990px;
    height: 750px;
    position: relative;
}